<!DOCTYPE html>
<html>
<head>
  <title>Update a Student</title>
</head>
<body>
  <form action="/music" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="fav_band" placeholder="Favorite Band">
    <button type="submit">Save</button>
  </form>
</body>
</html>